.log-msg .log-list {
  margin-left: 50px;
  margin-bottom: 25px;
}

/* debug */
.log-msg .log-list tr.level40 {
  color: #31708f;
}

/* info */
.log-msg .log-list tr.level30 {
  color: #3c763d;
}

/* warning */
.log-msg .log-list tr.level20 {
  color: #8a6d3b;
}

/* error */
.log-msg .log-list tr.level10 {
  color: #a94442;
}

ul.dropdown-menu-form li {
  margin-left: 45px;
}

ul.dropdown-menu-form li label {
  font-weight: normal;
}

ul.dropdown-menu-form li.dropdown-header {
  margin-left: 0px;
}

.preformatted {
  font-family: monospace;
  white-space: pre;
}

.log-msg thead {
  background-color: #DFDFDF;
}

.statusbar {
  background: #222;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  height: 56px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 10000;
}
