<nav ng-controller="Nav as nav">

  <div class="statusbar">

    <span style="padding-left: 20px; font-size: 20px; line-height: 54px;">
      LDVG: {{ nav.model.thrust.cmd_line }}
    </span>

    <div class="btn-group dropup" style="line-height: 54px; position: absolute; right: 15px;">
      <i class="fa fa-fw fa-lg fa-bars"
         data-toggle="dropdown"
         aria-expanded="false"></i>

      <ul ng-controller="LogViewPref as lvp"
          stop-menu-close
          toggle-sidebar
          class="dropdown-menu dropdown-menu-right dropdown-menu-form"
          role="menu"
          style="line-height: 20px;">
        <li role="presentation" class="dropdown-header">Log Level</li>
        <li>
          <label class="checkbox">
            <input type="checkbox" ng-model="lvp.model.debug">
            <span class="text-info">Debug</span>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" ng-model="lvp.model.info">
            <span class="text-success">Info</span>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" ng-model="lvp.model.warning">
            <span class="text-warning">Warning</span>
          </label>
        </li>
        <li>
          <label class="checkbox">
            <input type="checkbox" ng-model="lvp.model.error">
            <span class="text-danger">Error</span>
          </label>
        </li>
      </ul>
    </div>

  </div>
</nav>
