<span ng-controller="Preferences as pref"
      style="line-height: 54px; position: absolute; right: 15px;">

  <i class="fa fa-fw fa-lg fa-thumb-tack"
     style="position: relative; top: 1px; right: 10px;"
     ng-click="pref.model.show_pinned = !pref.model.show_pinned"
     ng-class="{
      'text-primary': pref.model.show_pinned,
      'text-default': !pref.model.show_pinned
     }"></i>

  <div class="btn-group dropup">
    <i class="fa fa-fw fa-lg fa-bars"
       data-toggle="dropdown"
       aria-expanded="false"></i>

    <ul stop-menu-close
        class="dropdown-menu dropdown-menu-right dropdown-menu-form"
        role="menu"
        style="line-height: 20px; color: #222;">

      <!-- timezone prefs start -->
      <li role="presentation" class="dropdown-header">Timezone</li>
      <li>
        <label class="radio">
          <input type="radio" ng-model="pref.model.timezone.TZ" value="">
          <span class="text-default">Local</span>
        </label>
        <label class="radio">
          <input type="radio" ng-model="pref.model.timezone.TZ" value="UTC">
          <span class="text-default">UTC</span>
        </label>
      </li>
      <!-- timezone prefs end -->

      <!-- log level prefs start -->
      <li role="presentation" class="dropdown-header">Log Level</li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="pref.model.loglevel.debug">
          <span class="text-info">Debug</span>
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="pref.model.loglevel.info">
          <span class="text-success">Info</span>
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="pref.model.loglevel.warning">
          <span class="text-warning">Warning</span>
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="pref.model.loglevel.error">
          <span class="text-danger">Error</span>
        </label>
      </li>
      <!-- log level prefs end -->

    </ul>
  </div>

</span>
