<div ng-controller="LogViewPref as lvp"
  style="position: fixed; top: 0; right: 0px; background-color: pink;">
  <fieldset>
    <ul style="list-style: none; margin: 0; padding: 0;">
      <li><input type="checkbox" ng-model="lvp.model.error">error</li>
      <li><input type="checkbox" ng-model="lvp.model.warning">warning</li>
      <li><input type="checkbox" ng-model="lvp.model.info">info</li>
      <li><input type="checkbox" ng-model="lvp.model.debug">debug</li>
    </ul>
  </fieldset>
</div>
